// Base colors: Blue and White
$primary: #003680; // Dark blue
$secondary: #ffffff; // White
$accent: #008080; // Teal color for interactions
$background: #f0f0f0; // Light gray for backgrounds
$text-primary: #333333;
$text-secondary: #666666;

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Set the global font family and base font size
body {
    background-color: $background;
    font-family: "Roboto", sans-serif;
    color: $text-primary;
    margin: 0;
    padding: 0;
}

// Custom alert styles
.custom-alert {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Navbar styles
.navbar {
    background-color: $primary;
    .navbar-brand,
    .navbar-nav .nav-link {
        color: $secondary;
        &:hover {
            color: $accent;
        }
    }
}

// Button styles
.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:hover {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 10%);
    }
}

.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $text-primary;
    &:hover {
        background-color: darken($secondary, 10%);
        border-color: darken($secondary, 10%);
    }
}

// Footer styles
.footer {
    background-color: $primary;
    color: $secondary;
    padding: 1rem;
    text-align: center;
    a {
        color: $accent;
        &:hover {
            color: lighten($accent, 10%);
        }
    }
}

// Search input styles
#subdomain-search-input {
    border: 2px solid $primary;
    border-radius: 5px;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    &:focus {
        outline: none;
        color: $text-primary;
        border-color: $primary;
        box-shadow: 0px 0px 10px rgba($primary, 0.5);
    }
    &:hover {
        background-color: lighten($secondary, 10%);
        border-color: $accent;
    }
    &::placeholder {
        color: $text-secondary;
        opacity: 0.75;
    }
}

// List group item styles
.list-group-item {
    border: 1px solid $primary;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: lighten($secondary, 10%);
        border-color: $accent;
    }
}
