/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 800 
*/

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}