<!-- Start Footer -->
<div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-10 col-xl-6">
        <div class="card footer-card">
            <div class="card-body text-center p-3"> <!-- Reduced padding -->
                <p class="card-text">
                    &copy; 2021 Subdomainly. All rights reserved.
                </p>
                <a href="https://trakteer.id/ricoaditya/tip" target="_blank" class="btn btn-coffee">
                    <i class="fas fa-coffee coffee-icon"></i> Buy Me a Coffee
                </a>
                <div class="social-icons mt-2"> <!-- Reduced margin -->
                    <a href="https://twitter.com/yourprofile" target="_blank" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://facebook.com/yourprofile" target="_blank" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://linkedin.com/in/yourprofile" target="_blank" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/yourprofile" target="_blank" class="social-icon">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://cdn.trakteer.id/js/embed/trbtn.min.js?date=18-11-2023'></script>

<!-- End Footer -->