<!-- Start Footer -->
<div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-10 col-xl-6">
        <div class="card footer-card">
            <div class="card-body text-center p-3"> <!-- Reduced padding -->
                <p class="card-text">
                    &copy; 2024 Subdomainly. Developed by Ilham Dean and Rico Aditya. Powered by XCOD33
                </p>
                <a href="https://trakteer.id/ricoaditya/tip" target="_blank" class="btn btn-coffee">
                    <i class="fas fa-coffee coffee-icon"></i> 
                    Bantu beli domain
                </a>
                <div class="social-icons mt-2"> <!-- Reduced margin -->
                    <a href="https://github.com/dean131" target="_blank" class="social-icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://github.com/XCOD33" target="_blank" class="social-icon">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
