<!-- Modal -->
<div
    class="modal fade"
    id="modalCreate"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalCreateLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCreateLabel">Title</h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    id="createSubdomainForm"
                    action="/api/subdomain/create"
                    method="post"
                >
                    <div class="mb-3">
                        <label for="contentInput" class="form-label">
                            Content
                        </label>
                        <input
                            type="text"
                            name="content"
                            class="form-control"
                            id="contentInput"
                            placeholder="103.29.214.199 atau cname.vercel.app"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="typeInput" class="form-label">Type</label>

                        <select
                            class="form-select"
                            aria-label="Default select example"
                            id="typeInput"
                            name="type"
                            required
                        >
                            <option selected disabled>
                                -- Pilih salah satu --
                            </option>
                            <option value="A">A</option>
                            <option value="CNAME">CNAME</option>
                        </select>
                    </div>
                    <input type="hidden" id="domainInput" name="domain" />
                    <input type="hidden" id="subdomainInput" name="name" />
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Batal
                </button>
                <button
                    type="submit"
                    form="createSubdomainForm"
                    class="btn btn-primary"
                >
                    Buat Subdomain
                </button>
            </div>
        </div>
    </div>
</div>
